   <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h1 class="navbar-item">SportsBox Sports</h1>
    
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="/" class="navbar-item">
            Home
          </a>
    
          <a  href="/standings" class="navbar-item">
            Standings
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                News
              </a>
              <a class="navbar-item">
                Teams
              </a>
              <a href="/players" class="navbar-item">
               Players
              </a>
              <a class="navbar-item">
                Highlights
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>
    
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              {{!-- needs to be a route --}}
              <a href="/login" class="button is-light">
              Login
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="slide block">
      <div class="container is-clipped">
        <div id="slider">
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img
                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image29-1024x576.png"
                  alt=""
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
              </div>
              <div class="item__description">
                Lakers
                
              </div>
            </div>
          </div>          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img
                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image33-1024x576.png"
                  alt=""
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                
              </div>
              <div class="item__description">
                Milwaukee Bucks
              </div>
            </div>
          </div>          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img
                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image11-1-1024x732.png"
                  alt=""
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                
              </div>
              <div class="item__description">
                Chicago Bulls
              </div>
            </div>
          </div>       
             <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img
                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image7-1-1024x686.png"
                  alt=""
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="item__title">
                
              </div>
              <div class="item__description">
                Miami Heat
              </div>
            </div>
          </div>        
          <div class="card">
            <div class="card-image">
              <figure class="image is-16by9 is-covered">
                <img
                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image27.png"
                  alt=""
                />
              </figure>
            </div>
            <div class="card-content">
                <div class="item__title">
                  
                </div>
                <div class="item__description">
                  Toronto Raptors
                </div>
              </div>
            </div>       
            <div class="card">
                <div class="card-image">
                  <figure class="image is-16by9 is-covered">
                    <img
                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image6-3-1024x576.png"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="card-content">
                    <div class="item__title">
                      
                    </div>
                    <div class="item__description">
                      Houston Rockets
                    </div>
                  </div>
                </div>       
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-16by9 is-covered">
                        <img
                          src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image13-1024x576.png"
                          alt=""
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                        <div class="item__title">
                          
                        </div>
                        <div class="item__description">
                        Boston Celtics
                        </div>
                      </div>
                    </div>       
                    <div class="card">
                        <div class="card-image">
                          <figure class="image is-16by9 is-covered">
                            <img
                              src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image1-3-768x559.png"
                              alt=""
                            />
                          </figure>
                        </div>
                        <div class="card-content">
                            <div class="item__title">
                              
                            </div>
                            <div class="item__description">
                            Utah Jazz
                            </div>
                          </div>
                        </div>       
                        <div class="card">
                            <div class="card-image">
                              <figure class="image is-16by9 is-covered">
                                <img
                                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image15-768x558.png"
                                  alt=""
                                />
                              </figure>
                            </div>
                            <div class="card-content">
                                <div class="item__title">
                                  
                                </div>
                                <div class="item__description">
                              Orlando Magic
                                </div>
                              </div>
                            </div>       
                            <div class="card">
                                <div class="card-image">
                                  <figure class="image is-16by9 is-covered">
                                    <img
                                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image28-768x777.png"
                                      alt=""
                                    />
                                  </figure>
                                </div>
                                <div class="card-content">
                                    <div class="item__title">
                                      
                                    </div>
                                    <div class="item__description">
                                      Pheonix Suns
                                    </div>
                                  </div>
                                </div>       
                                <div class="card">
                                    <div class="card-image">
                                      <figure class="image is-16by9 is-covered">
                                        <img
                                          src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image9-768x768.png"
                                          alt=""
                                        />
                                      </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="item__title">
                                          
                                        </div>
                                        <div class="item__description">
                                          Brooklyn Nets
                                        </div>
                                      </div>
                                    </div>       
                                    <div class="card">
                                        <div class="card-image">
                                          <figure class="image is-16by9 is-covered">
                                            <img
                                              src="https://www.logaster.com/blog/wp-content/uploads/2020/06/atlanta-hawks-new-logo-1-1568x882-1024x576.jpg"
                                              alt=""
                                            />
                                          </figure>
                                        </div>
                                        <div class="card-content">
                                            <div class="item__title">
                                              
                                            </div>
                                            <div class="item__description">
                                              Atlanta Hawks
                                            </div>
                                          </div>
                                        </div>       
                                        <div class="card">
                                            <div class="card-image">
                                              <figure class="image is-16by9 is-covered">
                                                <img
                                                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image18-1024x647.png"
                                                  alt=""
                                                />
                                              </figure>
                                            </div>
                                            <div class="card-content">
                                                <div class="item__title">
                                                  
                                                </div>
                                                <div class="item__description">
                                                 Portland Trailblazers
                                                </div>
                                              </div>
                                            </div>       
                                            <div class="card">
                                                <div class="card-image">
                                                  <figure class="image is-16by9 is-covered">
                                                    <img
                                                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image17-1024x576.png"
                                                      alt=""
                                                    />
                                                  </figure>
                                                </div>
                                                <div class="card-content">
                                                    <div class="item__title">
                                                      
                                                    </div>
                                                    <div class="item__description">
                                                      Denver Nuggets
                                                    </div>
                                                  </div>
                                                </div>       
                                                <div class="card">
                                                    <div class="card-image">
                                                      <figure class="image is-16by9 is-covered">
                                                        <img
                                                          src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image34-1024x683.png"
                                                          alt=""
                                                        />
                                                      </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="item__title">
                                                          
                                                        </div>
                                                        <div class="item__description">
                                                          Sacremento Kings
                                                        </div>
                                                      </div>
                                                    </div>       
                                                    <div class="card">
                                                        <div class="card-image">
                                                          <figure class="image is-16by9 is-covered">
                                                            <img
                                                              src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image4-3-1024x640.png"
                                                              alt=""
                                                            />
                                                          </figure>
                                                        </div>
                                                        <div class="card-content">
                                                            <div class="item__title">
                                                              
                                                            </div>
                                                            <div class="item__description">
                                                              Dallas Mavericks
                                                            </div>
                                                          </div>
                                                        </div>       
                                                        <div class="card">
                                                            <div class="card-image">
                                                              <figure class="image is-16by9 is-covered">
                                                                <img
                                                                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image25.png"
                                                                  alt=""
                                                                />
                                                              </figure>
                                                            </div>
                                                            <div class="card-content">
                                                                <div class="item__title">
                                                                  
                                                                </div>
                                                                <div class="item__description">
                                                                 San Antonio Spurs
                                                                </div>
                                                              </div>
                                                            </div>       
                                                            <div class="card">
                                                                <div class="card-image">
                                                                  <figure class="image is-16by9 is-covered">
                                                                    <img
                                                                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image30-1024x576.png"
                                                                      alt=""
                                                                    />
                                                                  </figure>
                                                                </div>
                                                                <div class="card-content">
                                                                    <div class="item__title">
                                                                      
                                                                    </div>
                                                                    <div class="item__description">
                                                                      CHarlotte Hornets
                                                                    </div>
                                                                  </div>
                                                                </div>       
                                                                <div class="card">
                                                                    <div class="card-image">
                                                                      <figure class="image is-16by9 is-covered">
                                                                        <img
                                                                          src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image3-4-1024x1024.png"
                                                                          alt=""
                                                                        />
                                                                      </figure>
                                                                    </div>
                                                                    <div class="card-content">
                                                                        <div class="item__title">
                                                                          
                                                                        </div>
                                                                        <div class="item__description">
                                                                          Cleveland Cavaliers
                                                                        </div>
                                                                      </div>
                                                                    </div>       
                                                                    <div class="card">
                                                                        <div class="card-image">
                                                                          <figure class="image is-16by9 is-covered">
                                                                            <img
                                                                              src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image32-1024x576.png"
                                                                              alt=""
                                                                            />
                                                                          </figure>
                                                                        </div>
                                                                        <div class="card-content">
                                                                            <div class="item__title">
                                                                              
                                                                            </div>
                                                                            <div class="item__description">
                                                                              Washington Wizards
                                                                            </div>
                                                                          </div>
                                                                        </div>       
                                                                        <div class="card">
                                                                            <div class="card-image">
                                                                              <figure class="image is-16by9 is-covered">
                                                                                <img
                                                                                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image23-1024x768.png"
                                                                                  alt=""
                                                                                />
                                                                              </figure>
                                                                            </div>
                                                                            <div class="card-content">
                                                                                <div class="item__title">
                                                                                  
                                                                                </div>
                                                                                <div class="item__description">
                                                                                  New York Knicks
                                                                                </div>
                                                                              </div>
                                                                            </div>       
                                                                            <div class="card">
                                                                                <div class="card-image">
                                                                                  <figure class="image is-16by9 is-covered">
                                                                                    <img
                                                                                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image5-1-1024x819.png"
                                                                                      alt=""
                                                                                    />
                                                                                  </figure>
                                                                                </div>
                                                                                <div class="card-content">
                                                                                    <div class="item__title">
                                                                                      
                                                                                    </div>
                                                                                    <div class="item__description">
                                                                                      New Orleans Pelicans
                                                                                    </div>
                                                                                  </div>
                                                                                </div>       
                                                                                <div class="card">
                                                                                    <div class="card-image">
                                                                                      <figure class="image is-16by9 is-covered">
                                                                                        <img
                                                                                          src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image14-1024x576.png"
                                                                                          alt=""
                                                                                        />
                                                                                      </figure>
                                                                                    </div>
                                                                                    <div class="card-content">
                                                                                        <div class="item__title">
                                                                                          
                                                                                        </div>
                                                                                        <div class="item__description">
                                                                                          76ers
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>       
                                                                                    <div class="card">
                                                                                        <div class="card-image">
                                                                                          <figure class="image is-16by9 is-covered">
                                                                                            <img
                                                                                              src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image31-1024x576.png"
                                                                                              alt=""
                                                                                            />
                                                                                          </figure>
                                                                                        </div>
                                                                                        <div class="card-content">
                                                                                            <div class="item__title">
                                                                                              
                                                                                            </div>
                                                                                            <div class="item__description">
                                                                                              Minnesota Timberwolves
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>       
                                                                                        <div class="card">
                                                                                            <div class="card-image">
                                                                                              <figure class="image is-16by9 is-covered">
                                                                                                <img
                                                                                                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image26-1024x576.png"
                                                                                                  alt=""
                                                                                                />
                                                                                              </figure>
                                                                                            </div>
                                                                                            <div class="card-content">
                                                                                                <div class="item__title">
                                                                                                  
                                                                                                </div>
                                                                                                <div class="item__description">
                                                                                                Memphis Grizzlies
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>       
                                                                                            <div class="card">
                                                                                                <div class="card-image">
                                                                                                  <figure class="image is-16by9 is-covered">
                                                                                                    <img
                                                                                                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image16-1024x576.png"
                                                                                                      alt=""
                                                                                                    />
                                                                                                  </figure>
                                                                                                </div>
                                                                                                <div class="card-content">
                                                                                                    <div class="item__title">
                                                                                                      
                                                                                                    </div>
                                                                                                    <div class="item__description">
                                                                                                      Oklahoma City Thunder
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>       
                                                                                                <div class="card">
                                                                                                    <div class="card-image">
                                                                                                      <figure class="image is-16by9 is-covered">
                                                                                                        <img
                                                                                                          src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image24-1024x576.png"
                                                                                                          alt=""
                                                                                                        />
                                                                                                      </figure>
                                                                                                    </div>
                                                                                                    <div class="card-content">
                                                                                                        <div class="item__title">
                                                                                                          
                                                                                                        </div>
                                                                                                        <div class="item__description">
                                                                                                         Indiana Pacers
                                                                                                        </div>
                                                                                                      </div>
                                                                                                    </div>       
                                                                                                    <div class="card">
                                                                                                        <div class="card-image">
                                                                                                          <figure class="image is-16by9 is-covered">
                                                                                                            <img
                                                                                                              src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image2-5-1024x576.png"
                                                                                                              alt=""
                                                                                                            />
                                                                                                          </figure>
                                                                                                        </div>
                                                                                                        <div class="card-content">
                                                                                                            <div class="item__title">
                                                                                                              
                                                                                                            </div>
                                                                                                            <div class="item__description">
                                                                                                             Detroit Pistons
                                                                                                            </div>
                                                                                                          </div>
                                                                                                        </div>       
                                                                                                        <div class="card">
                                                                                                            <div class="card-image">
                                                                                                              <figure class="image is-16by9 is-covered">
                                                                                                                <img
                                                                                                                  src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image22-1024x640.png"
                                                                                                                  alt=""
                                                                                                                />
                                                                                                              </figure>
                                                                                                            </div>
                                                                                                            <div class="card-content">
                                                                                                                <div class="item__title">
                                                                                                                  
                                                                                                                </div>
                                                                                                                <div class="item__description">
                                                                                                                  Golden State Warriors
                                                                                                                </div>
                                                                                                              </div>
                                                                                                            </div>       
                                                                                                            <div class="card">
                                                                                                                <div class="card-image">
                                                                                                                  <figure class="image is-16by9 is-covered">
                                                                                                                    <img
                                                                                                                      src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image12-1024x715.png"
                                                                                                                      alt=""
                                                                                                                    />
                                                                                                                  </figure>
                                                                                                                </div>
                                                                                                                <div class="card-content">
                                                                                                                    <div class="item__title">
                                                                                                                      
                                                                                                                    </div>
                                                                                                                    <div class="item__description">
                                                                                                                      La Clippers
                                                                                                                    </div>
                                                                                                                  </div>
                                                                                                                </div>       
                                                                                                               
          
        
            </div>
            
          </div>
          
        </div>
      </div>
    </section>
    <div id="TeamPost" class="box">
      <div id="imageSpace">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://www.logaster.com/blog/wp-content/uploads/2020/06/image29-1024x576.png">
      </figure>
    </div>
    <h1>Los Angeles Lakers</h1>
      <p id="TeamPostP">
        Lakers succumb to 2nd Seed Phoenix Suns as they continue battling injuries. Injuries have been the Lakers biggest opponent this season now adding Lebron James to the list with a right angle injury.
      </p>
    </div>
  <section class="section">
  </section>